{% load staticfiles %}
{% load custom_filters %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/ng/angular.js' %}"></script>
        <script src="{% static 'js/ng/angular-cookies.js' %}"></script>
        <script src="{% static 'js/app/common.js' %}"></script>
        <script src="{% static 'js/app/app.js' %}"></script>
    </head>

    <body ng-app="ShoppingCartChallenge">

        {% verbatim %}
        <div class="mainWrapper" ng-controller="OrderController" >
            <div class="form-title">
                {{ formTitle }}
            </div>

            <div class="ajax-controls" ng-if="showDevControls">
                AJAX actions:
                <button class="form-button" ng-if="!orderId" ng-click="onClickPrepareForm()">Prepare form (new order)</button>
                <button class="form-button" ng-if="orderId" ng-click="onClickPrepareForm()">Prepare form (existing order)</button>
            </div>
            <div class="error-message" ng-if="ajaxError" ng-bind="ajaxError"></div>

            <div class="product-table" ng-if="formProducts">

                <div class="product-header">
                     <div class="product-col product-col-header product-col-name">Product</div>
                     <div class="product-col product-col-header product-col-price">Price</div>
                     <div class="product-col product-col-header product-col-quantity">Quantity</div>
                </div>

                <div class="product-row" ng-repeat="formProduct in formProducts">
                    <div class="product-col product-col-name">
                        {{ formProduct.product.name }}
                    </div>
                    <div class="product-col product-col-price align-right">
                        {{ formProduct.product.price }}
                    </div>
                    <div class="product-col product-col-quantity" ng-switch="orderStatus">
                        <div ng-switch-when="EDIT">
                            <input type="checkbox" ng-model="formProduct.check">
                            <input type="text" ng-model="formProduct.quantity">
                        </div>
                        <div ng-switch-when="REVIEW">
                            {{ formProduct.quantity }}
                        </div>
                    </div>
                </div>

                <div class="product-footer" ng-if="displayTotal()">
                    <div class="product-col product-col-footer product-col-name align-right">TOTAL:</div>
                    <div class="product-col product-col-footer product-col-price align-right">{{ orderTotal }}</div>
                    <div class="product-col product-col-footer product-col-quantity"></div>
                </div>

                <div class="form-controls" ng-switch="orderStatus">
                    <button class="form-button" ng-switch-when="EDIT" ng-click="onClickReviewOrder()">Review</button>
                    <button class="form-button" ng-switch-when="REVIEW" ng-click="onClickModifyOrder()">Back</button>
                    <button class="form-button" ng-switch-when="REVIEW" ng-click="onClickConfirmOrder()">Confirm</button>
                </div>
            </div>

        </div>
        {% endverbatim %}

    </body>

</html>
