{% load staticfiles %}
{% load custom_filters %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/ng/angular.js' %}"></script>
{#        <script src="{% static 'js/ng/angular.min.js' %}"></script>#}

        <script src="{% static 'js/app/common.js' %}"></script>
        <script src="{% static 'js/app/app.js' %}"></script>

    </head>

    <body ng-app="ShoppingCartChallenge">

        {% verbatim %}
        <div class="mainWrapper" ng-controller="OrderController" >
            <div class="form-title">
                {{ formTitle }}
            </div>

            <div class="ajax-controls" ng-if="!autoLoad">
                AJAX actions:
                <button ng-click="loadEmptyOrder()">Load empty order form</button>
            </div>
            <div class="error-message" ng-if="ajaxError" ng-bind="ajaxError"></div>

            <form class="product-table" ng-if="products">

                <div class="product-header">
                     <div class="product-col product-col-header product-col-name">Product</div>
                     <div class="product-col product-col-header product-col-price">Price</div>
                     <div class="product-col product-col-header product-col-quantity">Quantity</div>
                </div>

                <div class="product-row" ng-repeat="product in products">
                    <div class="product-col product-col-name">
                        {{ product.name }}
                    </div>
                    <div class="product-col product-col-price product-col-numeric">
                        {{ product.price }}
                    </div>
                    <div class="product-col product-col-quantity" ng-switch="orderStatus">
                        <div ng-switch-when="EDIT">
                            <input type="checkbox" ng-model="product.check">
                            <input type="text" ng-model="product.quantity">
                        </div>
                        <div ng-switch-when="REVIEW">
                            {{ product.quantity }}
                        </div>
                    </div>
                </div>

                <div class="form-controls" ng-switch="orderStatus">
                    <button ng-switch-when="EDIT" ng-click="reviewOrder(item, $event)">Review order</button>
                    <button ng-switch-when="REVIEW" ng-click="modifyOrder(item, $event)">Modify order</button>
                    <button ng-switch-when="REVIEW" ng-click="confirmOrder(item, $event)">Confirm order</button>
                </div>
            </form>

        </div>
        {% endverbatim %}

    </body>

</html>
